<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Test Maven Suite">
    <test name = "Test Maven Groups Testing">

        <groups>

            <define name = "all">
                <include name = "usertest"/>
            </define>

            <run>
                <include name = "all"/>
            </run>

        </groups>

        <packages>
            <package name="org.softserve.*" />
        </packages>

    </test>
</suite>